body *:not(h1){
    border: 1px solid red;
    box-sizing: border-box;
}

.wrap{

    width: 1000px;
    height: 800px;
    margin: auto;

}

header{height: 20%;}
main{height: 60%;}
footer{ height: 20%;}

#i1{
    height: 100%;
    width: 20%;
    float: left;
}

#i2{
    height: 100%;
    width: 60%;
    float: left;
}

#i3{
    height: 100%;
    width: 20%;
    float: left;
}