body *:not(h1){
    border: 1px solid red;
    box-sizing: border-box;
}

.wrap{
    height: 1000px;
    width: 800px;
    margin: auto;
}

header{
    height: 20%;
}

nav{
    height: 5%;
}

section{
    height: 55%;
}

footer{
    height: 20%;
}

#i1{
    height: 100%;
    width: 10%;
    float: left;
}

#i2{
    height: 100%;
    width: 60%;
    float: left;

}

#i3{
    height: 100%;
    width: 30%;
    float: left;

}

#a1{
    height: 100%;
    width: 20%;
    float: left;

}

#a2{
    height: 100%;
    width: 40%;
    float: left;

}

#a3{
    height: 100%;
    width: 40%;
    float: left;

}