div, input{
    --border: 0.5px solid rgb(138, 138, 138);
    box-sizing: border-box;

}

body{
    background-color: rgb(255, 234, 247);
}

.wrap{
    margin-top: 100px;
    width: 600px;
    height: 500px;
    margin: auto;
    box-sizing: border-box;
    --border: 1px solid blue; /*나중에 지울 것!!*/
    
}

#join{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

#title{
    height: 100px;
    width: 100%;
    font-size: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 30px;
    color: rgb(106, 106, 106);
    font-family: 'Nanum Myeongjo', serif;
}

